body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 1600px;
}
.navbar{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}
.nav-list ul{
    display: flex;
    gap: 32px;
}
.nav-list li{
    list-style: none;
    margin-top:34px ;
}

.nav-btn button{
    width: 164px;
    height: 44px;
    color: white;
    background-color:#469165 ;
    border-radius:4px ;
    border: none;
    margin-top: 24px;
}

.nav-btn button:hover{
    width: 170px;
    height: 50px;
    color: white;
    background-color:#469165 ;
    border-radius:10px ;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}


#banner{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    max-width: 1600px;
    height: 674px;
}

.banner-details{
    padding: 115px;
    text-align: center;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    justify-content: center;
    border: 2px solid #28a745;
}

.banner-details h3{
    display: inline;
    padding: 6px 12px ;
    background-color: white;
    border-radius: 15px;
    color: #30B868;
    font-size: 16px;
}
.banner-details h1{
    margin-top: 16px;
    color: white;
    font-size: 72px;
    margin-bottom: 16px;
}

.banner-details h1 span{
    color: rgba(48, 184, 104, 1);
}

.banner-details p{
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.banner-details .btn1{
    color: white;
    font-size: 16px;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
}

.banner-details .btn1:hover{
    color: white;
    font-size: 16px;
    width: 260px;
    height: 60px;
    background-color: #30B868;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.banner-details .btn2{
    border: 1px solid white;
    background-color: ;
    font-size: 16px;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    background: transparent;
    color: white;
    margin-left: 16px;
}

.banner-details .btn2:hover{
    border: 1px solid white;
    background-color: ;
    font-size: 16px;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    color: white;
    margin-left: 16px;
    cursor: pointer;
}

#note{
    margin-bottom: 16px ;
}
#note h4{
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px; 
}

#note p {
    font-size: 16px;
    text-align: center;
}

.cards{
    display: flex;
    gap: 24px;
    padding-left:120px ;
    padding-right: 120px;
}

.card {
    padding:24px ;
    background-color: white;
    padding-top:69px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

.card:hover {
    padding:24px ;
    background-color: white;
    padding-top:69px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
    width: 200px;
    cursor: pointer;
}


.card h4 {
    margin: 5px;
    font-size: 24px;
}
.card p{
    line-height: 20px;
    font-size: 19px;
    text-align: center;
    font-size: 16px;
}

.card img {
    background-color: red;
    border-radius: 50%;
    padding:14px ;
}
.sec-brain{
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 1600px;
    height: 840px;
}
.sec-b-img{
     width: 600px;
     height: 600px;
     margin: 120px;
}
.sec-b-info{
    margin: 102px;
}

.sec-b-info p{
    line-height: 20px;
    display: flex;
    gap: 6px;
}
.sec-b-info h4{
    color:#469165;
}
#foot{
    max-width: 1600px;
}
.first-foot{
    text-align: center;
    background-color:#F7F6F2 ;
    padding:80px ;
    margin-bottom: 120px;

}
.first-foot h2{
    font-size: 40px;
    font-weight: bold;
}
.first-foot p{
    font-size: 16px;
    line-height: 24px;
}
.first-foot button{
    font-size: 16px;
    color: white;
    background-color:#30B868;
    width: 194px;
    height: 52px;
    border-radius:4px ;
    border: none;
}

.first-foot button:hover{
    font-size: 16px;
    color: white;
    background-color:#30B868;
    width: 200px;
    height: 60px;
    border-radius:10px ;
    border: none;
    cursor: pointer;
}

.footer-container{
    max-width: 1600px;
    background-color: #001931;
    height: auto;
    padding-top: 120px;

}
.second-foot {
    display: flex;
    gap: 800px;
    justify-content: space-around;
    padding-bottom: 80px;
}
.second-foot-link{
    color: white;
}
.second-foot-link p{
    font-size: 20px;
}
.second-foot-link i{
    padding: 5px;
}

.copyright{
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 1600px;
}
.navbar{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}
.nav-list ul{
    display: flex;
    gap: 32px;
}
.nav-list li{
    list-style: none;
    margin-top:34px ;
}

.nav-btn button{
    width: 164px;
    height: 44px;
    color: white;
    background-color:#469165 ;
    border-radius:4px ;
    border: none;
    margin-top: 24px;
}

.nav-btn button:hover{
    width: 170px;
    height: 50px;
    color: white;
    background-color:#469165 ;
    border-radius:10px ;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}
#banner{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    max-width: 1600px;
    height: 674px;
}

.banner-details{
    padding: 115px;
    text-align: center;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    justify-content: center;
    border: 2px solid #28a745;
}

.banner-details h3{
    display: inline;
    padding: 6px 12px ;
    background-color: white;
    border-radius: 15px;
    color: #30B868;
    font-size: 16px;
}
.banner-details h1{
    margin-top: 16px;
    color: white;
    font-size: 72px;
    margin-bottom: 16px;
}

.banner-details h1 span{
    color: rgba(48, 184, 104, 1);
}

.banner-details p{
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.banner-details .btn1{
    color: white;
    font-size: 16px;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
}

.banner-details .btn1:hover{
    color: white;
    font-size: 16px;
    width: 260px;
    height: 60px;
    background-color: #30B868;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.banner-details .btn2{
    border: 1px solid white;
    background-color: ;
    font-size: 16px;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    background: transparent;
    color: white;
    margin-left: 16px;
}

.banner-details .btn2:hover{
    border: 1px solid white;
    background-color: ;
    font-size: 16px;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    color: white;
    margin-left: 16px;
    cursor: pointer;
}
#note{
    margin-bottom: 16px ;
}
#note h4{
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px; 
}

#note p {
    font-size: 16px;
    text-align: center;
}

.cards{
    display: flex;
    gap: 24px;
    padding-left:120px ;
    padding-right: 120px;
}

.card {
    padding:24px ;
    background-color: white;
    padding-top:69px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

.card:hover {
    padding:24px ;
    background-color: white;
    padding-top:69px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
    width: 200px;
    cursor: pointer;
}


.card h4 {
    margin: 5px;
    font-size: 24px;
}
.card p{
    line-height: 20px;
    font-size: 19px;
    text-align: center;
    font-size: 16px;
}

.card img {
    background-color: red;
    border-radius: 50%;
    padding:14px ;
}
